<html>
<head>
  <!--[if IE]><script language="javascript" type="text/javascript" src="/excanvas.compiled.js"></script><![endif]-->
  <script src="/jquery-1.3.2.min.js"></script>
  <script src="/jquery.template.js"></script>
  <script src="/highcharts.src.js"></script>
  
  <!-- Chart javascript -->
  <script src="/Profiler.js"></script>
  <script src="/Profiler/test.js"></script>
  <script src="/Profiler/ActionTimeline.js"></script>
</head>

<body>
<h1>Rails Profiler</h1>
CSV Profile: <a href="/out.csv">out.csv</a>

<div id="test" style="width:800px;height:400px;">Things go here</div>

<p>

<div id="actionTimeline" style="width:800px;height:400px;"></div>

<!--
<p>

<div id="sqlTimeline" style="width:800px;height:400px;"></div>

<p>

<div id="worstActionTimes" style="width:800px;height:400px;"></div>

<p>

<div id="worstSQLTimes" style="width:800px;height:400px;"></div>
-->

<script id="source" language="javascript" type="text/javascript">
$(function () {
  Profiler.test('test');
  
  Profiler.actionTimeline('actionTimeline');
    
  //Profiler.processJson('placeholder');
});
</script>
</body>
</html>