<html>
<head>
  <!--[if IE]><script language="javascript" type="text/javascript" src="/excanvas.compiled.js"></script><![endif]-->
  <script src="/jquery-1.3.2.min.js"></script>
  <script src="/jquery.template.js"></script>
  <script src="/highcharts.src.js"></script>
  <script language="javascript" type="text/javascript" src="/main.js"></script>
</head>

<body>
<h1>Rails Profiler</h1>
CSV Continuing Profile: <a href="/out.csv">out.csv</a>

<div id="placeholder" style="width:800px;height:400px;"></div>

<script id="source" language="javascript" type="text/javascript">
$(function () {
  //Profiler.test('placeholder');
    
  Profiler.processJson('placeholder');
});
</script>
</body>
</html>